body {
    text-align: center;
    padding: 0;
    margin: 0;
	border: none;
}

#info-bar {
    display: none;
    background: #FF9933;
	text-align: center;
	margin: auto;
	width: 398px;
	padding: 1px;
}

#start-page {
	background: #dddddd;
	text-align: center;
	padding: 0;
	margin: 0;
	border: none;
}

#start {
   	margin: auto;
   	padding: 0;
	border: none;
	background: #dddddd;
  	color: #FF9933;
  	font-weight: bold;
  	font-size: 150%;
  	text-transform: uppercase;

}

#pause {
	width: 40px;
	padding: 0;
	border: none;
	background: #FF9933;
}

.item {
	box-sizing: border-box;
	display: table-cell;
	margin: auto;
}

.container {
	display: table;
	text-align: center;
	margin: auto;
}

canvas {
  	margin: auto;
  	display: none;
  	background: #dddddd;
}
