body {
     text-align: center;
}

#info-bar
{
    display: none;
	text-align: center;
	margin: auto;		
	width: 398px;
	border: 1px solid;
  } 
  
#start{
   border: 1px solid;
   margin: auto;
}

#pause{
	width: 40px;
}

.item{
	box-sizing: border-box;
	display: table-cell;
	margin: auto;
}

.container{
	display: table;
	text-align: center;
	margin: auto;
}

canvas{
  margin: auto;
  display: none;
  background: #dddddd;
}
  